@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:  #16181d;
}

#root{
    padding: 24px;
}

@media screen and (min-width: 640px){
    #root{
        padding: 0;
    }
}

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins Semi Bold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./assets/fonts/Poppins-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Bold.ttf") format('truetype');
}